<div id="step1" class="step-content">
  <div id="first">
    <img id="arrow-left" src="/assets/icons/black/arrow-left.png">
    <div id="question-card" class="shadow-3">
      <div class="question">Is Michael Jackson the most influential musician of all time?</div>
      <div class="topic">
        <div>music</div>
      </div>
    </div>
    <img id="arrow-right" src="/assets/icons/black/arrow-right.png">
  </div>
  <div id="second">
    <span>Choose from our hand-tailored list, or ask your own. With hundreds of topics available, you're sure to find something worth talking about.
    </span>
  </div>
</div>
