<div id="nav">
  <img src="/assets/images/logo-text-no-bg.png">
  <ul id="nav-items">
    <li>
      <a>FEATURES</a>
    </li>
    <li>
      <a>BLOG</a>
    </li>
    <li>
      <a>LOGIN</a>
    </li>
    <li>
      <a>SIGNUP</a>
    </li>
  </ul>
</div>
<div id="strapline-title">Practice makes <span>perfect.</span></div>
<div id="strapline-subtitle">Fast-track to fluency by practicing languages online.</div>
<div id="signup-box">
  <input placeholder="Email me when it's here..."></input>
  <img src="/assets/icons/black/send.png">
</div>
<img id="pixel-map" src="/assets/images/pixel-map.png">
