<h1>Language learning at full throttle</h1>
<div id="content">
  <div>
    <img src="/assets/images/social.png">
    <span>LanguagePear lets you jump straight into interesting conversations where your language skills will be immediately put into practice.</span>
  </div>
  <div>
    <img src="/assets/images/wait.png">
    <span>Conversations are immediate and in real time. You won’t be waiting for days to hear back from your less-than-eager penfriend.</span>
  </div>
  <div>
    <img src="/assets/images/people.png">
    <span>You'll be matched with someone of a similar ability, so the conversation will always be both challenging and accessible.</span>
  </div>
</div>
